brew "chezmoi"
brew "starship"
brew "zsh-completions"
brew "romkatv/gitstatus/gitstatus"

tap "bufbuild/buf"
tap "cloudflare/cloudflare"
tap "danielfoehrkn/switch"
tap "datreeio/datree"
tap "fluxcd/tap"
tap "github/gh"
tap "helm/tap"
tap "hashicorp/tap"
tap "johanhaleby/kubetail"
tap "k0sproject/tap"
tap "goreleaser/tap"
tap "nats-io/nats-tools"

# {{- if eq .chezmoi.os "darwin" }}
## Macos-specific formulae
brew "curl"
brew "wget"
brew "rsync"


brew "ssh-copy-id"
brew "openssl"
brew "gnu-sed"
brew "watch"
brew "telnet"
brew "dos2unix"
brew "diffutils"
brew "cmake"
# {{ end -}}

brew "direnv"
brew "bat"
brew "lsd"
brew "fd"
brew "ripgrep"
brew "mise"

brew "fzf"
brew "jq"

brew "git"
brew "gh"
brew "git-delta"
brew "pre-commit"
brew "ctags"

brew "lua"

brew "neovim"
brew "vim"

brew "go"
brew "grpcurl"
brew "grpcui"
brew "protobuf"
brew "buf"
brew "sqlc"
cask "goreleaser/tap/goreleaser-pro"

brew "cosign"
brew "syft"
brew "minica"

brew "node"
brew "yarn"
brew "pnpm"

brew "poetry"
brew "pyenv"
brew "pyenv-virtualenv"
brew "pyenv-virtualenvwrapper"

brew "docker"
brew "docker-compose"
brew "docker-credential-helper"

brew "kubernetes-cli"
brew "krew"
brew "kustomize"
brew "helm"
brew "johanhaleby/kubetail/kubetail"
brew "stern"
brew "danielfoehrkn/switch/switch"
brew "datreeio/datree/datree"
brew "fluxcd/tap/flux"
brew "helm/tap/chart-releaser"
brew "k0sproject/tap/k0sctl"
brew "derailed/k9s/k9s"
brew "int128/kubelogin/kubelogin"

brew "hashicorp/tap/terraform"
brew "terraform-docs"
brew "hashicorp/tap/terraform-ls"
brew "tflint"

brew "prometheus"

brew "awscli"
brew "azure-cli"

brew "lua-language-server"
brew "bash-language-server"
brew "yaml-language-server"
brew "yamllint"

brew "act"
brew "age"
brew "bitwarden-cli"
brew "libfido2"
brew "sops"
brew "gnupg"
brew "step"
brew "pwgen"

brew "nats-io/nats-tools/nsc"

brew "openjdk"

# {{- if eq .chezmoi.os "darwin" }}

brew "mas"
cask "mysides"

cask "font-sauce-code-pro-nerd-font"
cask "font-jetbrains-mono-nerd-font"

cask "ghostty"
cask "iterm2"
cask "rancher"

{{ if .personal -}}
cask "authy"
cask "disk-inventory-x"
cask "gimp"
cask "inkscape"
cask "figma"
cask "libreoffice"
{{ end }}


cask "visual-studio-code"

{{ if not .restricted -}}
cask "obsidian"
cask "firefox"
cask "google-chrome"
cask "cloudflare-warp"
mas "WireGuard", id: 1451685025
mas "Slack", id: 803453959
{{ end }}

mas "Bitwarden", id: 1352778147
mas "Kindle", id: 302584613
mas "MindNode", id: 1289197285
mas "Xcode", id: 497799835
# {{ end }}
