# vim: ft=zsh
# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

if [ -d "$HOME/bin" ]; then
  export PATH="$PATH:$HOME/bin"
fi

{{ if eq .chezmoi.os "darwin" -}}
{{   if stat "/opt/homebrew/bin/brew" -}}
fpath+=("$(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else if stat "/usr/local/bin/brew" -}}
fpath+=("$(/usr/local/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
{{ else if eq .chezmoi.os "linux" -}}
fpath+=("$(/home/linuxbrew/.linuxbrew/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

# zsh-completions
if (( $+commands[brew] )) ; then
    fpath+=("$(brew --prefix)/share/zsh-completions/")

    autoload -Uz compinit
    compinit
fi

# zsh-autosuggestions
[[ ! -f $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]] || source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# set path so it includes pyenv
export PYENV_ROOT="$HOME/.pyenv"
if [ -d "$PYENV_ROOT" ] ; then
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init --path)"
fi
