HashKnownHosts no

Host ovh-dev-syd1-adm1.dev.angarium.io
  HostName ovh-dev-syd1-adm1.dev.angarium.io
  User yvigara

Host ovh-dev-uk1-adm1.dev.angarium.io
  HostName ovh-dev-uk1-adm1.dev.angarium.io
  User yvigara

Host ovh-dev-uk1-adm2.dev.angarium.io
  HostName ovh-dev-uk1-adm2.dev.angarium.io
  User yvigara

Host ovh-dev-uk1-adm3.dev.angarium.io
  HostName ovh-dev-uk1-adm3.dev.angarium.io
  User yvigara

Host *
  IgnoreUnknown UseKeychain
  Compression yes
  ForwardAgent yes
  ForwardX11 no
  TCPKeepAlive yes
  ServerAliveInterval 15
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
