HashKnownHosts no

Host *
  IgnoreUnknown UseKeychain
  Compression yes
  ForwardAgent yes
  ForwardX11 no
  TCPKeepAlive yes
  ServerAliveInterval 15
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  User git
