{{- $starship := lookPath "starship" -}}
{{- if $starship -}}
set -x STARSHIP_SHELL fish
set -x STARSHIP_SESSION_KEY (random)

function fish_prompt
    {{ quote $starship }} prompt \
        --terminal-width="$COLUMNS" \
        --status="$status" \
        --pipestatus="$pipestatus" \
        --cmd-duration="$CMD_DURATION" \
        --jobs=(jobs -p | count)
end

function fish_right_prompt
    {{ quote $starship }} prompt --right \
        --terminal-width="$COLUMNS" \
        --status="$status" \
        --pipestatus="$pipestatus" \
        --cmd-duration="$CMD_DURATION" \
        --jobs=(jobs -p | count)
end

functions -e fish_mode_prompt
set -x VIRTUAL_ENV_DISABLE_PROMPT 1
{{- else -}}
function fish_prompt
    printf '» '
end
function fish_right_prompt
    prompt_pwd
end
{{- end }}
